.site-footer {
  border-top: $border-thin;
  padding: $sp-4 0;
  margin-top: auto;

  .footer-inner {
    @include container;
    text-align: center;
    font-size: $fs-xs;
    color: $text-dim;
    font-family: $font-mono;
  }
}
